
$backgroundDark1: #202d36;
$backgroundDark2: #2b3743;

$colorDark1 : #fcfdfd;
$colorDark2 : #fcfdfd;


$backgroundWhite1: #ffffff;
$backgroundWhite2: #fafafa;

$colorWhite1: #202d36;
$colorWhite2: #202d36;